<!-- views/results.erb -->
<div >
	<div class="results">
		<div class="row">
			<div class="container">
				<% @sorted_result.each do |movie| %>
				
				<div class="col-xs-12 col-sm-6 col-md-4 ">

					<div class="display poster"><img src='<%= movie['Poster']%>' class="img-responsive" alt="Responsive image"></div>
					<div class="display title"><%= movie['Title']%></div>
					<div class="display year"><%= movie['Year']%></div>
					<div class="display director"><%= movie['Director']%></div>
					<div class="display actors"><%= movie['Actors']%></div>
					<div class="display plot"><%= movie['Plot']%></div>

				</div>

				<% end %>
			</div>
		</div>
	</div>
</div>